
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card" style="padding-left:20px; padding-right:20px;">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Yetenek Ekle</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <form class="form-control" method="post">
                            <label>Yetenek Başlığı</label>
                            <input type="text" name="Title" class="form-control"/>

                            <label>Yetenek Değeri</label>
                            <input type="number" name="Value" class="form-control"/>
    
                            <br />
                            
    
                           
                        </form>

                    </table>
                </div>
                
            </div>
            <button class="btn btn-primary">Ekle</button>
        </div>
    </div>

</div>
