@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
        <div class="card" style="padding-left:20px; padding-right:20px;">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">Yetenekleri Düzenle</h3>
            </div>
            @using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
            {
                @Html.HiddenFor(x=>x.Id)
                <label>Yetenek Başlığı</label>
                @Html.TextBoxFor(s=>s.Title , new {@class="form-control"})

                <label>Yetenek Değeri</label>
                @Html.TextBoxFor(s=>s.Value , new {@class="form-control"})
                <br/>
                    <button class="btn btn-primary">Kaydet</button>
            }
        </div>
            
    </div>
</div>
</div>  
